* {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box; }

header .nombre {
  font-size: 55px;
  color: white;
  font-family: "VT323"; }
header .navbar-default {
  background-color: black;
  border-color: transparent;
  margin: auto; }
header .navbar-collapse {
  border-color: white; }
header .navbar-header {
  height: 60px; }
header li {
  margin-top: 15px; }
  header li a {
    font-family: "VT323";
    color: white !important;
    font-size: 20px;
    padding: 8px; }
    header li a:hover {
      text-decoration: underline !important; }
    header li a:active {
      text-decoration: underline !important;
      background-color: rgba(231, 231, 231, 0.43) !important;
      color: white;
      background-color: transparent !important; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  background-color: rgba(249, 249, 249, 0.39); }

#home {
  background-image: url("../img/code.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: white;
  padding: 30% 0% 0% 0%;
  background-attachment: fixed; }
  #home .opaco {
    background-color: rgba(0, 0, 0, 0.45); }
  #home h1 {
    font-size: 45px !important;
    font-family: "VT323";
    color: white;
    padding: 10px; }

#sobremi {
  background-image: url("../img/222.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
  padding: 8% 5% 6%; }
  #sobremi .frac {
    font-family: "VT323";
    font-size: 40px;
    text-align: right;
    margin-top: 10%;
    color: black; }
  #sobremi .circle {
    background-color: black;
    padding: 5px;
    margin: auto;
    width: 270px;
    margin-bottom: 20px;
    margin-top: 20px; }
    #sobremi .circle img {
      border-radius: 100%;
      width: 100%; }
  #sobremi .parrafo {
    text-align: center;
    width: 40%;
    margin: auto;
    font-size: 18px; }
  #sobremi .abajo {
    text-align: center;
    font-size: 80px;
    padding: 5%; }
    #sobremi .abajo .fa {
      color: black; }

.skill {
  color: WHITE;
  padding: 7% 0% 5%; }
  .skill .caja {
    text-align: center;
    background-color: black;
    padding: 5%;
    width: 100%;
    margin-bottom: 20px; }
    .skill .caja .fa {
      font-size: 40px;
      margin: 15px; }
    .skill .caja p {
      font-weight: bolder; }

#contacto {
  text-align: center;
  background-image: url("../img/66666.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: black; }
  #contacto div {
    width: 100%;
    height: 100%;
    padding: 2%; }
  #contacto h2 {
    font-family: "VT323";
    color: black;
    font-size: 85px;
    font-weight: bolder; }
  #contacto .fa {
    font-size: 75px;
    margin: 35px; }
    #contacto .fa:hover {
      font-size: 85px; }
  #contacto .fa-linkedin {
    color: #1985BC; }
  #contacto .fa-github {
    color: black; }
  #contacto img {
    width: 75px;
    vertical-align: text-bottom;
    margin: -8px 25px; }
    #contacto img:hover {
      width: 85px; }

#portafolio {
  padding: 2%;
  text-align: center; }
  #portafolio h2 {
    font-family: "VT323";
    font-size: 60px;
    color: black; }
  #portafolio .cajaporta {
    margin: 20px;
    border: 1px solid black;
    padding: 5px; }
    #portafolio .cajaporta img {
      width: 100%; }

.medio {
  background-image: url("../img/4444.jpg");
  background-size: CONTAIN;
  height: 20px; }

/*# sourceMappingURL=main.css.map */
