* {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box; }

header {
  padding: 5px; }
  header .nombre {
    font-size: 50px;
    color: whitesmoke;
    font-family: "VT323"; }
  header .navbar-default {
    background-color: black;
    border-color: whitesmoke;
    margin: auto; }
  header .navbar-collapse {
    border-color: whitesmoke; }
  header .navbar-header {
    height: 60px; }
  header li {
    margin-top: 15px; }
    header li a {
      font-family: "VT323";
      color: whitesmoke !important;
      font-size: 20px;
      padding: 8px; }
      header li a:hover {
        text-decoration: underline !important; }
      header li a:active {
        text-decoration: underline !important;
        background-color: rgba(231, 231, 231, 0.43) !important;
        color: white;
        background-color: transparent !important; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  background-color: rgba(249, 249, 249, 0.39); }

#home {
  background-image: url("../img/code.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: white;
  padding: 30% 0% 0% 0%;
  background-attachment: fixed; }
  #home .opaco {
    background-color: rgba(0, 0, 0, 0.45); }
  #home h1 {
    font-size: 45px !important;
    font-family: "VT323";
    color: white;
    padding: 10px; }

#sobremi {
  background-color: whitesmoke;
  padding: 5%; }
  #sobremi .frac {
    font-family: "VT323";
    font-size: 40px;
    text-align: left; }
  #sobremi p {
    font-size: 16px; }
  #sobremi .firma {
    float: right;
    font-weight: bold; }
  #sobremi .foto {
    margin-top: 4%; }
  #sobremi .circle {
    margin: auto;
    width: 240px;
    height: 240px;
    border-radius: 100%;
    margin-bottom: 20px;
    margin-top: 20px; }
    #sobremi .circle img {
      border-radius: 100%;
      width: 100%; }
  #sobremi .skill {
    color: WHITE;
    margin: auto;
    padding: 2%; }
    #sobremi .skill .caja {
      text-align: center;
      background-color: rgba(0, 0, 0, 0.88);
      padding: 5%;
      width: 100%;
      margin-bottom: 20px; }
      #sobremi .skill .caja .fa {
        font-size: 40px;
        margin: 15px; }
      #sobremi .skill .caja p {
        font-weight: bolder; }

#contacto {
  text-align: center;
  background-image: url("../img/contact.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white; }
  #contacto div {
    background: rgba(0, 0, 0, 0.78);
    width: 100%;
    height: 100%;
    padding: 2%; }
  #contacto h2 {
    font-family: "VT323";
    color: white;
    font-size: 70px; }
  #contacto .fa {
    font-size: 65px;
    margin: 30px; }
  #contacto .fa-linkedin {
    color: #1985BC; }
  #contacto .fa-github {
    color: lemonchiffon; }
  #contacto img {
    width: 65px;
    vertical-align: text-bottom;
    margin: -8px 25px; }

#portafolio {
  background-image: url("../img/fondo.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 2%;
  font-family: "VT323"; }

/*# sourceMappingURL=main.css.map */
