*{
	font-family: 'Lato', sans-serif;
	 box-sizing:border-box;
}
header{
	.nombre{
		    font-size: 55px;
    		color: white;
    		font-family: 'VT323', ;
	}
	.navbar-default{
		background-color: black;
	    border-color: transparent;
	    margin: auto;
	}
	.navbar-collapse{
		border-color:white;
	}
	.navbar-header{
		height: 60px; 
	} 
		li{
			margin-top: 15px;	
			a{
				font-family: 'VT323', ;
				color: white !important;
	    		font-size: 20px;
				padding:8px;
				&:hover{
				    text-decoration: underline !important;
				}
				&:active{
					text-decoration: underline !important;
					 background-color: rgba(231, 231, 231, 0.43) !important;
					 color: white;
					 background-color: transparent !important;
				}
				
			}
		 }	
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {

    background-color: rgba(249, 249, 249, 0.39);
}

#home{
    background-image: url("../img/code.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: white;
    padding: 30% 0% 0% 0%;
    background-attachment: fixed;
    .opaco{
    	background-color: rgba(0, 0, 0, 0.45);
    	font-size: 45px !important;
	    font-family: "VT323";
	    color: white;
	    padding: 10px;
	    width: 70%;
    }
}
#sobremi{
	background-image: url("../img/222.png");
	    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
	background-color: white;
    padding: 8% 5% 6%;
    .frac{
    	font-family: "VT323";
	    font-size: 40px;
	    text-align: right;
	    margin-top: 10%;
	    color:black;
	}
	.circle{
		background-color:black;
		padding:5px;
		margin: auto;
	    width: 270px;
	    margin-bottom: 20px;
	    margin-top: 20px;
	    img{
	    	border-radius: 100%;
    		width: 100%;
	    }
	}
	 .parrafo{
	    text-align: center;
	    width: 40%;
	    margin: auto;
	    font-size: 18px;
    }
    .abajo{
    	    text-align: center;
    font-size: 80px;
    padding: 5%;
    .fa{
    	color:black;
   		 }
    }
}

.skill{
		color: WHITE;
	    padding: 7% 0% 5%;
	    .caja{
	    	text-align: center;
		    background-color: black;
		    padding: 5%;
		    width: 100%;
		    margin-bottom: 20px;
		    .fa{
		    	font-size: 40px;
    			margin: 15px;
		    }
		    p{
		    	font-weight: bolder;
		    }
	    }
	}

#contacto{
	text-align: center;
    background-image: url("../img/66666.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
	div{
	    width: 100%;
    height: 100%;
    padding: 2%;
	}
	h2{
		font-family: "VT323";
    color: black;
    font-size: 85px;
    font-weight: bolder;
	}
	.fa{
	font-size: 75px;
    margin: 35px;
    &:hover{ 
    	font-size: 85px;
		}
	}
	.fa-linkedin{
		color: #1985BC;
	}
	.fa-github{
		color: black;
	}
	img{
	width: 75px;
    vertical-align: text-bottom;
    margin: -8px 25px;
    &:hover{
    	width: 85px;
   	 	}
	}
}
#portafolio{
		padding: 5% 0% 10%;
    text-align: center;
	h2{ 
	font-family: "VT323";
    font-size: 60px;
    color: black;
    margin-bottom: 30px;
	}
	.cajaporta{
		margin: 30px 0px;
    border: 1px solid black;
    padding: 5px;
		img{
			width: 100%;
		}
	}
	p{
    font-size: 17px;
    width: 60%;
    margin: auto;
    margin-bottom: 30px;
	}
}
.medio{
	background-image: url("../img/4444.jpg");
    background-size: CONTAIN;
    height: 20px;
}