*{
	font-family: 'Lato', sans-serif;
	 box-sizing:border-box;
}
header{
	padding:5px;
	.nombre{
		    font-size: 50px;
    		color: white;
    		font-family: 'VT323', ;
	}
	.navbar-default{
		background-color: black;
	    border-color: whitesmoke;
	    margin: auto;
	}
	.navbar-collapse{
		border-color:whitesmoke;
	}
	.navbar-header{
		height: 60px; 
	} 
		li{
			margin-top: 15px;	
			a{
				font-family: 'VT323', ;
				color: white !important;
	    		font-size: 20px;
				padding:8px;
				&:hover{
				    text-decoration: underline !important;
				}
				&:active{
					text-decoration: underline !important;
					 background-color: rgba(231, 231, 231, 0.43) !important;
					 color: white;
					 background-color: transparent !important;
				}
				
			}
		 }	
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {

    background-color: rgba(249, 249, 249, 0.39);
}

#home{
    background-image: url("../img/code.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: white;
    padding: 30% 0% 0% 0%;
    background-attachment: fixed;
    .opaco{
    	background-color: rgba(0, 0, 0, 0.45);
    }
    h1{
    	font-size: 45px !important;
	    font-family: "VT323";
	    color: white;
	    padding: 10px;
    }
}
#sobremi{
	background-color: white;
    padding: 5%;
    .frac{
    	font-family: "VT323";
	    font-size: 40px;
	    text-align: left;
	}
	p{
		font-size: 16px;
	}
	.firma{
		float: right;
    	font-weight: bold;
	}
	.foto{
		margin-top: 4%;
	}
	.circle{
		margin: auto;
	    width: 240px;
	    height: 240px;
	    border-radius: 100%;
	    margin-bottom: 20px;
	    margin-top: 20px;
	    img{
	    	border-radius: 100%;
    		width: 100%;
	    }
	}

	.skill{
		color: WHITE;
	    margin: auto;
	    padding: 2%;
	    .caja{
	    	text-align: center;
		    background-color: rgba(0, 0, 0, 0.88);
		    padding: 5%;
		    width: 100%;
		    margin-bottom: 20px;
		    .fa{
		    	font-size: 40px;
    			margin: 15px;
		    }
		    p{
		    	font-weight: bolder;
		    }
	    }
	}

}


#contacto{
	text-align:center;
	background-image: url("../img/contact.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
	color:white;
	div{
	background: rgba(0, 0, 0, 0.78);
    width: 100%;
    height: 100%;
    padding: 2%;
	}
	h2{
		font-family: "VT323";
	    color: white;
	    font-size: 70px;
	}
	.fa{
	font-size: 65px;
    margin: 30px;
	}
	.fa-linkedin{
		color: #1985BC;
	}
	.fa-github{
		color: lemonchiffon;
	}
	img{
	width: 65px;
    vertical-align: text-bottom;
    margin: -8px 25px;
	}
}
#portafolio{
	background-image: url("../img/fondo.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
	padding:2%;
	 font-family: "VT323";
}